* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  font-size: 14px;
  font-weight: $fw-r;
  color: $white;
  line-height: 1.5;
  background: $dark-gray;
  letter-spacing: 0.05em;
}

img,
video {
  width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

header {
  .header-wrapper {
    @include flex(space-between, end, 30px);
    padding-top: 20px;
  }

  .logo {
    max-width: 200px;
  }

  .header-nav {
    @include flex(unset, unset, 30px);
    flex-direction: column;
  }

  .close-btn {
    display: none;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .menu-btn {
    display: none;
    min-width: 30px;
    width: 30px;
  }

  .social-list {
    @include flex(end, center, 15px);
    .social-item {
      .icon {
        display: inline-block;
        width: 30px;
        aspect-ratio: 1;
        transition: all ease 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .nav-list {
    @include flex(space-between, center, 40px);
    .nav-item {
      a {
        text-transform: uppercase;
        position: relative;
        font-weight: $fw-l;
        display: block;
        &::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0;
          height: 1px;
          width: 0%;
          background-color: $white;
          transition: all $cubic 0.75s;
        }
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.banner {
  height: 500px;
  margin-top: 20px;
  .banner-image {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

// RESPONSIVE

@include landscape-phone {
  header {
    .header-wrapper {
      align-items: center;
    }
    .header-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: $dark-gray;
      flex-direction: column-reverse;
      justify-content: center;
      transform: translateY(-100%);
      transition: all $cubic 1s;
      &.active {
        transform: unset;
      }
    }
    .nav-list {
      flex-direction: column;
      .nav-item {
        a {
          font-size: 20px;
          font-weight: $fw-el;
        }
      }
    }
    .social-list {
      justify-content: center;
      padding-top: 40px;
      margin: 0 auto;
      border-top: 1px solid $white;
      width: fit-content;
    }
    .menu-btn {
      display: block;
    }
    .close-btn {
      display: block;
    }
  }
}
